<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>2do trabajo individual</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>

<body>
    <header>
    <div id="encabezado">
    
        <h1 class="logo"><img src="/img/logo-mercado-liebre.svg" width="200px" height="150px"> </img></h1>
        <p id="buscador" ><input type="text" style="width: 300px;" placeholder="Buscar tus productos, marcas.."/><i class="fas fa-search"></i></p>

        <br></br>
        <p id="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <br></br>
    
    
    <ul class="menu">
       <li>Ofertas</li>
       <li>Tiendas oficiales</li>
       <li>Vender</li>
       <li>Ayuda</li>
       <br></br>
       <li>Creá tu cuenta <i class="far fa-id-card"></i></li>
       <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
       <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
    </ul>

    <i class="fas fa-bars" style="padding-left: 100px; color:#03264C;"></i>
    </header>   
    
    <main style="text-align: center;  background-color: whitesmoke;">
    <img id="banner" src="/img/img-home-banner.jpg" > </img>

    <h4 class="titulares">Basado en tus últimas visitas</h4>
    <div class="productos">
           
        <div class="cajas" style="width: device-width;">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg" > </img>
        <section class="macbook"> 
            <ul>
                <p class="precios">$200.000</p>
                <p class="descuento">15% off</p>
                <p class="descrip">Macbook Pro 2019</p>
            </ul>
        
        </section>  
        </div>

        <div class="cajas">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg"> </img>
        <section class="samsung">
            <ul style="width: device-width;">
                <p class="precios">$100.000</p>
                <p class="descuento">30% off</p>
                <p class="descrip">Samsung Galaxy s10</p>
            </ul>
        
        </section>
        </div>
       
        
        <div class="cajas">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg"> </img>
        <section class="cafetera">
            <ul>
                <p class="precios">$75.000</p>
                <p class="descuento">10% off</p>
                <p class="descrip">Cafetera Moulinex</p>
            </ul>
        </section>
        </div>
           
        <div class="cajas">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg"> </img>
        <section class="tv">
            <ul>
                <p class="precios">$300.000</p>
                <p class="descuento">40% off</p>
                <p class="descrip">TV Samsung Smart</p>
            </ul>
        </section>
        </div>
    
    </div>
    </main>
    

    <footer>
    <div id="pieDePagina">
    <div id="tarjetaDeCred" style="text-align: center;">
        <i class="fas fa-credit-card"></i>        
        <h5>Pagá con tarjeta o efectivo</h5>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div id="tarjetaDeGift" style="text-align: center;">
        <i class="fas fa-gift"></i>
        <h5>Envío gratis desde $2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div id="usuarioshield" style="text-align: center">    
        <i class="fas fa-user-shield"></i>
        <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <h5 style="font-size: 10px;">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </div>  
    </div>
    </footer>
</body>


</html>