
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb ;
    margin: 0px;
}

header{
    background-color: #EAC926;
    
}
.logo{
    width: 200px;
}
.logo-buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.menu-izquierda{
    display: flex;
    flex-direction: row;
}
.menu-derecha{
    display: flex;
    flex-direction: row;
}
.menu li{
    margin-right: 25px;
    list-style: none;
}
#buscador input{
    width: 400px;
    height: 30px;
    border: none;
}
::placeholder{
    color: grey;
    font-size: 1em;
    font-style: italic;
}
.fa-bars{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#banner{
    width:100%; 
    height:auto;
    box-sizing: border-box;
}
.titulares{
    font-size: 24px;
    padding-top: 20px; 
}

.imagenes{
    width:100%; 
    height:auto;
}
.texto-productos{
    margin: 5%;
    font-size: 130%;
    text-align: left;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding-top: 10px;
}
.camion{
    border: 1px green solid;
    border-radius: 100%;
    padding: 7px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
}
.fa-truck{
    color: green;
}
.descrip{
    display: none;
    position: relative;
}
#descrip:hover .descrip{
    display: block;


}
.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
}
.cajas{
    flex: 1 1 300px;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.cajas:hover{
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
}
.imagen-producto{
    padding: 10px;
    background: white;
    text-align: center;
}
.imagen-producto img{
    height: 330px;
    width: 280px;
    object-fit: cover;
}
.descuento{
    display: inline;
    color: green;
    margin-left: 8px;
}
.precios{
    display: inline;
    font-size: 18px;
}
.descrip{
    font-size: 16px;
    margin-top: 18px;
    display: flex;
}

/*footer*/
.fa-credit-card{
    font-size: 25px;
    color: #001adb;
    text-align: center;
}
.fa-gift{
    font-size: 25px;
    color: #001adb;
    text-align: center;
}
.fa-user-shield{
    font-size: 25px;
    color: #001adb;
    text-align: center;
}
.fa-credit-card:hover{
    color: darkblue;
}
.fa-gift:hover{
    color: darkblue;
}
.fa-user-shield:hover{
    color: darkblue;
}

#pieDePagina{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vw;
    padding-top:1.5vw;
    background-color: #fff;
    
}
/*FORMS*/
.formulario{
        padding-left: 38%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #ebebeb;
        margin: 10px;
        margin-top: 25px;
        
}
.form-registro input{
    border: none;
    border-radius: 3px;
    width: 50%;
    height: 30px;
}
.etiqueta-form{
    font-weight: bold;
}
.form-login input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones-formulario{
    background-color: #3482FA;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    width: 28.75vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 10px;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.etiqueta-form{
    font-size: small;
}
@media (max-width:360px){
    .menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu a{
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        font-size: 17px;
    }
    .logo{
        width: 150px;
        margin-top: 12px;
        margin-right: 5px;
    }
    .logo-buscador{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #buscador input{
        margin-top: 12px;
        width: 150px;
        margin-left: 5px;
    }
    
    #cuotas{
        font-size: small;
        text-align: center;
    }
    .menu{
        display: none;
    }
    .menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu a{
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        font-size: 17px;
    }
    
    .fa-bars{
        padding-bottom: 20px;
        padding-left: 50%;
    }      
    #pieDePagina{
        display: flex;
        flex-direction: column;
    }
    .formulario{
        padding-left: 3%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #ebebeb;
        margin: 10px;
        margin-top: 25px;
        
    }
    .form-registro input{
    border: none;
    border-radius: 3px;
    width: 50vw;
    height: 30px;
    }
    .etiqueta-form{
    font-weight: bold;
    }
    }
.descrip{
    display: none;
}
main div div div:hover .descrip{
    display: block;
    border:none
}
@media (max-width: 360px){
    .descrip{
        display: none;
    }
    .camion{
        bottom: 15px;
    }
}
@media (min-width:360px){

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.logo{
    width: 150px;
    margin-top: 12px;
    margin-right: 5px;
}
.logo-buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#buscador input{
    margin-top: 12px;
    width: 150px;
    margin-left: 5px;
}
#cuotas{
    font-size: small;
    text-align: center;
}
.menu{
    display: none;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.fa-bars{
    padding-bottom: 20px;
    padding-left: 50%;
}      
.formulario{
    padding-left: 3%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    margin: 10px;
    margin-top: 25px;   
}

.form-registro input{
border: none;
border-radius: 3px;
width: 50vw;
height: 30px;
}
.etiqueta-form{
font-weight: bold;
}
}

@media (min-width: 678px){

    .cajas:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        box-sizing: border-box;
    }
    .fa-bars{
        visibility: hidden;
    }
    .logo-buscador{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #buscador input{
        margin-top: 12px;
        width: 350px;
    }
    #cuotas{
        font-size: large;
        text-align: center;
    }
    .menu-izquierda{
        margin-left: 5px;
    }
.titulares{
        text-align: left;
        padding-left: 5vw;
    }
.formulario{
        
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    margin: 10px;
    margin-top: 25px;
    }
.form-registro input{
    border: none;
    border-radius: 3px;
    width: 400px;
    height: 30px;
}
.etiqueta-form{
    font-weight: bold;
}

}


