
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb ;
    margin: 0px;
}

header{
    background-color: #EAC926;
    
}
.logo{
    width: 200px;
}
.logo-buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.menu-izquierda{
    display: flex;
    flex-direction: row;
}
.menu-derecha{
    display: flex;
    flex-direction: row;
}
.menu li{
    margin-right: 25px;
    list-style: none;
}
#buscador input{
    width: 400px;
    height: 30px;
    border: none;
}
::placeholder{
    color: grey;
    font-size: 1em;
    font-style: italic;
}
.fa-bars{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#banner{
    width:100%; 
    height:auto;
    box-sizing: border-box;
}
.titulares{
    font-size: 24px;
    padding-top: 20px; 
}

.imagenes{
    width:100%; 
    height:auto;
}
.texto-productos{
    margin: 5%;
    font-size: 150%;
    text-align: left;
}
.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ccc;
}
.cajas{
    flex: 1 1 300px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.cajas:hover{
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
}
.imagen-producto{
    padding: 10px;
    background: #eee;
    text-align: center;
}
.imagen-producto img{
    height: 330px;
    width: 280px;
    object-fit: cover;
    
}
.descuento{
    color: green;
}
/*
.descrip{
    
        display: block;
        font-size: 16px;
        padding: 5px;
        
        height: 30px;
        right:20px;
        top:-15px;
}
*/




/*
.precios{
    font-size: 18px;
    text-align: left;
    margin: 15px;
}
.descuento{
    font-size: 16px;
    text-align: left;
    margin: 15px;
    color: green;

}
*/

/*
.descrip{
    font-size: 16px;
    text-align: left;
    margin: 15px;
}
*/
/*footer*/
.fa-credit-card{
    font-size: 25px;
    color: #001adb;
    text-align: center;
}
.fa-gift{
    font-size: 25px;
    color: #001adb;
    text-align: center;
}
.fa-user-shield{
    font-size: 25px;
    color: #001adb;
    text-align: center;
}

#pieDePagina{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vw;
}


@media (min-width:360px){

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.logo{
    width: 150px;
    margin-top: 12px;
}
.logo-buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#buscador input{
    margin-top: 12px;
    width: 150px;
}

#cuotas{
    font-size: small;
    text-align: center;
}
.menu{
    display: none;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.descrip{
    display: none;
        }

.fa-bars{
    padding-bottom: 20px;
    padding-left: 175px;
}      
}

@media (min-width: 768px){

    .cajas:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        box-sizing: border-box;
    }
    .fa-bars{
        visibility: hidden;
    }
    .logo-buscador{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #buscador input{
        margin-top: 12px;
        width: 350px;
    }
    #cuotas{
        font-size: large;
        text-align: center;
    }
    .menu-izquierda{
        margin-left: 5px;
    }
/*    .productos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-align: center;
        margin-right: 1vw;
        margin-left: 1vw;
        
    }
*/
    .titulares{
        text-align: left;
        padding-left: 5vw;
    }

   
    
}

